{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django App{% endblock %}</title>
    {% vite_hmr_client %}
    {% vite_asset 'static/js/main.js' %}
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-base-100" x-data="{ mobileMenu: false }" @htmx:after-swap="window.scrollTo(0, 0)">
    <div class="navbar bg-base-100 shadow-lg">
        <div class="navbar-start">
            <!-- Mobile menu -->
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </label>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li>
                        <details>
                            <summary>Blog Menu</summary>
                            <ul class="p-2">
                                <li><a href="/blog/">All Posts</a></li>
                                <li><a href="/blog/?featured=true">Featured</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'blog:post-create' %}">Write Post</a></li>
                                    <li><a href="{% url 'blog:user-posts' request.user.username %}">My Posts</a></li>
                                {% endif %}
                            </ul>
                        </details>
                    </li>
                </ul>
            </div>
            <a href="/" class="btn btn-ghost normal-case text-xl">Dental Support Organization</a>
        </div>
        
        <!-- Desktop menu -->
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li class="dropdown dropdown-hover">
                    <label tabindex="0" class="btn btn-ghost">
                        Blog Menu
                        <svg class="fill-current h-4 w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a href="/blog/">All Posts</a></li>
                        <li><a href="/blog/?featured=true">Featured Posts</a></li>
                        <li class="divider"></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'blog:post-create' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                                </svg>
                                Write Post
                            </a></li>
                            <li><a href="{% url 'blog:user-posts' request.user.username %}">My Posts</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="navbar-end">
            {% if user.is_authenticated %}
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost gap-2">
                        <div class="avatar">
                            <div class="w-8 rounded-full">
                                {% if user.profile.avatar %}
                                    <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" />
                                {% else %}
                                    <div class="bg-neutral-focus text-neutral-content flex items-center justify-center w-full h-full">
                                        <span class="text-sm">{{ user.username.0|upper }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <span class="hidden md:inline">{{ user.username }}</span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-lg bg-base-100 rounded-box w-64">
                        <li class="menu-title">
                            <span class="text-base-content/60">{{ user.email }}</span>
                        </li>
                        <li><a href="{% url 'account-profile' %}" class="font-semibold">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                            Account Management
                        </a></li>
                        <li class="divider my-0"></li>
                        <li><a href="{% url 'account-profile' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                            Profile
                        </a></li>
                        <li><a href="{% url 'account-info' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            User Information
                        </a></li>
                        <li><a href="{% url 'account-security' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                            </svg>
                            Security
                        </a></li>
                        <li class="divider my-0"></li>
                        <li><a href="{% url 'account_logout' %}" class="text-error">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                            </svg>
                            Logout
                        </a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-sm btn-ghost">Login</a>
                <a href="{% url 'account_signup' %}" class="btn btn-sm btn-primary ml-2">Sign Up</a>
            {% endif %}
        </div>
    </div>
    
    <main class="container mx-auto py-6 px-4">
        {% if messages %}
            <div class="mb-4 space-y-2">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-error{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} shadow-lg"
                         x-data="{ show: true }"
                         x-show="show"
                         x-transition:leave="transition ease-in duration-200"
                         x-transition:leave-start="opacity-100"
                         x-transition:leave-end="opacity-0">
                        <div>
                            <span>{{ message }}</span>
                        </div>
                        <div class="flex-none">
                            <button @click="show = false" class="btn btn-sm btn-ghost">✕</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
